body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.siteMain {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.gameContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.gameStartButton {
    background-color: blueviolet;
    border-radius: 10%;
    border: none;
    padding: 1em;
    font-weight: bold;
    font-family: monospace;
    box-shadow: 2px 3px 1px 1px rgb(17, 17, 17);

    /* Excalibur changes this, prevents flashing before excalibur takes control */
    display: none;
}
